h4 {
    display: block;
    min-width: 5em;
    text-align: left;
}

.board{
    width: 50em;
}

.entry{
    display: block;
}

.hint{
    width:5em;
}

.presolvedWords{
    width: 20em;
}

.sizeLabel {
      font-size: 1.1em;
      font-weight: bold;
      padding-bottom: 5px;
      display: inline;
}

.sizeSelector{
    width: 20em;
    background: transparent;
    display: block;
}

.buttons {
    display:block;
}

.labelText{
    font-size: small;
    display: block;
}

.entryBox > input {
    width: 100%;
}

.entryBox {
    display: inline-block;
    margin: 5px;
}

.wbsbutton {
    background-color: white;
    margin: 5px;
    width: 5em
}

.letterTile {
    display: inline-block;
    background-color: white;
    color: black;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    min-width: 20px;
    text-align: center;
}